<header class="site-header">
  <div class="header-inner">
    <a href="/home" class="brand">
      <span class="brand-icon"><i class="fa-solid fa-graduation-cap"></i></span>
      <span class="brand-name">EduHub</span>
    </a>
    <nav class="header-nav">
      <a href="/home"         class="nav-link" data-page="home"><i class="fa-solid fa-house"></i> Home</a>
      <a href="/courses"      class="nav-link" data-page="courses"><i class="fa-solid fa-book-open"></i> Courses</a>
      <a href="/exams"        class="nav-link" data-page="exams"><i class="fa-solid fa-file-pen"></i> Exams</a>
      <a href="/scholarships" class="nav-link" data-page="scholarships"><i class="fa-solid fa-trophy"></i> Scholarships</a>
      <a href="/events"       class="nav-link" data-page="events"><i class="fa-solid fa-calendar-days"></i> Events</a>
    </nav>
    <div class="header-right">
      <span class="user-greeting"><i class="fa-solid fa-circle-user"></i> Hello, <strong id="headerUsername">User</strong></span>
      <a href="/api/logout" class="btn-logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
    </div>
  </div>
</header>
