<aside class="sidebar">
  <ul class="sidebar-nav">
    <li>
      <a href="/home" class="sidebar-link" data-page="home">
        <span class="sidebar-icon"><i class="fa-solid fa-house"></i></span>
        <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a href="/courses" class="sidebar-link" data-page="courses">
        <span class="sidebar-icon"><i class="fa-solid fa-book-open"></i></span>
        <span>Courses</span>
      </a>
    </li>
    <li>
      <a href="/exams" class="sidebar-link" data-page="exams">
        <span class="sidebar-icon"><i class="fa-solid fa-file-pen"></i></span>
        <span>Entrance Exams</span>
      </a>
    </li>
    <li>
      <a href="/scholarships" class="sidebar-link" data-page="scholarships">
        <span class="sidebar-icon"><i class="fa-solid fa-trophy"></i></span>
        <span>Scholarships</span>
      </a>
    </li>
    <li>
      <a href="/events" class="sidebar-link" data-page="events">
        <span class="sidebar-icon"><i class="fa-solid fa-calendar-days"></i></span>
        <span>Events</span>
      </a>
    </li>
  </ul>
  <div class="sidebar-footer">
    <p class="sidebar-tagline">Your gateway to<br>Indian education</p>
  </div>
</aside>
